files:
  "/etc/td-agent/td-agent.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      include /etc/td-agent/conf.d/*.conf

  "/etc/td-agent/conf.d/access_log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <source>
        type tail
        path /var/log/httpd/access_log
        pos_file /var/log/td-agent/access_log.pos
        format ltsv
        tag access_log
      </source>

      <match access_log>
        buffer_type file
        buffer_path /var/log/td-agent/buffer/access_log
        type s3
        aws_key_id  AKIAI6CRJZVIB7JQVRYQ
        aws_sec_key 85eOVsy0N75zZkQDlRnMB7LozHz+ZRYUS3Hx/FbK
        s3_bucket   hameeapplog
        s3_endpoint s3-ap-northeast-1.amazonaws.com
        s3_object_key_format %{path}/access_log/%{time_slice}/%{hostname}-access_log-_%{index}.%{file_extension}
        path phpapp
        time_slice_format dt=%Y%m%d
        flush_interval 10m
        utc
      </match>

  "/etc/td-agent/conf.d/error_log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <source>
        type tail
        path /var/log/httpd/error_log
        pos_file /var/log/td-agent/error_log.pos
        format apache2
        tag error_log
      </source>

      <match error_log>
        buffer_type file
        buffer_path /var/log/td-agent/buffer/error_log
        type s3
        aws_key_id  AKIAI6CRJZVIB7JQVRYQ
        aws_sec_key 85eOVsy0N75zZkQDlRnMB7LozHz+ZRYUS3Hx/FbK
        s3_bucket   hameeapplog
        s3_endpoint s3-ap-northeast-1.amazonaws.com
        s3_object_key_format %{path}/error_log/%{time_slice}/%{hostname}-error_log-_%{index}.%{file_extension}
        path phpapp
         time_slice_format dt=%Y%m%d
        flush_interval 10m
        utc
      </match>
