files:
  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/td-agent.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/td-agent/td-agent.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/td-agent.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/td-agent/td-agent.log
